.home-banner {
    background-image: url(../media/index/chip-banner.png);
    background-size: cover;
    height: 260px;
    object-fit: cover;
    object-position: center 40%;
    width: 100%;
}

/* Reduce the margin between our banner and the page content start. */
.md-main__inner {
    margin-top: 1rem;
}